/*General*/
body {
    background-color: #EFE9E4;
    color: #5E5343;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    top: 0;
}

.flexContainer {
    display: flex;
}

h1 {
    font-size: 5rem;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 2rem; 
    margin-top: 0;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.heading {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.justify {
    justify-content: space-around;
}

.align {
    align-items: center;
}

.bottom {
    margin-bottom: 5%;
}

i {
    font-weight: 600;
}

.JustifyCenter {
    justify-content: center;
}

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 3rem;
        margin: 0.5rem;
    }
}

/*Navigation*/
nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #7e7569;
    color: #EFE9E4;
    justify-content: space-around;  
    align-items: center;
}
#navigation {
    justify-content: center;
}
li {
    list-style-type: none;
    padding: 0.5rem 1rem 0.5rem 2rem;
    font-size: 1.3rem;
}

li a {
  color: #EFE9E4;
  text-decoration: none;  
}

li:hover {
    text-decoration: underline;
}

nav button {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 1024px) {
    #navigation {
        display: none;
    }
}

/*Main Info*/
#intro {
   padding-top: 6rem; 
}

#myPhoto {
    width: 30%;
    height: 100%;
    margin-left: 15%;
}

#mainInfo {
    margin-left: 10%;
    margin-right: 20%;
}

#firstH2 {
    margin-top: 0;
}

#aboutMe {
    font-size: 2rem; 
}

button {
    margin: 1rem 0 3rem 0;
    padding: 1rem 2rem;  
    font-size: 1rem; 
    color: #5E5343;
    border: 1px solid #5e534336;
    background-color: #f6f3f0;
}

button:hover {
    cursor: pointer;
    background-color: #ded7d2;
}

.contact {
    height: 3rem;
    margin-right: 2rem;
}

@media only screen and (max-width: 1024px) {
    #intro {
        display: block;
        text-align: center;
        margin-top: 1rem;
    }

    #myPhoto {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #mainInfo {
        margin: 0;
    }

    #firstH2 {
        font-size: 2rem;
        margin: 1rem;
    }
    #aboutMe {
        font-size: 1.5rem;
        margin-left: 5rem;
        margin-right: 5rem;
    }
    
    #contacts {
        justify-content: center;
    }
}

/*Skills*/
#skills {
    align-items: flex-start;
    border-top: 1px solid #5e534336;
    border-bottom: 1px solid #5e534336;
    padding: 5rem 0 8rem 0;
    margin-top: 5rem;
}

#itSkills {
    text-align: center;
    padding-right: 2rem;
}

#itSkills p {
    font-size: 1rem;
}

.skill {
    height: 3rem;
    margin: 2rem 2rem 1rem 2rem;
}

ul {
 padding: 0;   
}

.language {
    font-size: 1.5rem;
    list-style-type: none;
    margin: 2rem;   
}

#languages {
    text-align: center;
    padding-left: 2rem;
}

@media only screen and (max-width: 1024px) {
   #skills {
    display: block;
   } 

   #skillPics {
    justify-content: center;
   }

   #itSkills {
    padding: 0;
   }

   #languages {
    padding: 0;
   }
}

@media only screen and (max-width: 500px) {
    #skillPics {
        flex-wrap: wrap;
        margin: 0;
    }
}

/*Education*/
#educationContent {
    justify-content: center;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#education {
    margin-top: 5rem;
}

.margin {
    margin-left: 5rem;
}

#educationWidth {
    width: 35rem;
}

/*Projects*/
#projectsContainer {
    flex-wrap: wrap;
}

.projectFull {
    margin: 0 1rem 3rem 1rem;
    border: 1px solid #5e53437f;
    padding: 2rem 3rem 3rem 3rem;
}

#projects {
    border-top: 1px solid #5e534336;
    margin: 5% 10%;
    padding-top: 5rem;
}

#projects h3 {
    text-align: center;
    color: #5e5343;
}

#projects a:hover {
    color: #5e534355;
}

.project {
    height: 200px;
    border: 1px solid #5E5343;
}

.project:hover {
    cursor: pointer;
    border: 1px solid #5e534355;   
}

#projects p, #projects h4{
    text-align: center;
    font-size: 1.2rem;   
}

.link {
    color: #5E5343;
    font-family: 'Inter', sans-serif; 
    font-size: 1.2rem;
    display: block;
    text-align: center;
}

/*Certificates*/
#certificatesContainer {
    flex-wrap: wrap;
}

#certificates {
    border-top: 1px solid #5e534336;
    margin: 1% 10% 5% 10%;
    padding-top: 5rem;
}

.certificate {
    height: 200px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.certificate:hover {
    cursor: pointer;
    border: 1px solid #5E5343;
    height: 198px;
}

#certificates p {
    text-align: center;
    font-size: 1.5rem;
}

/*Footer*/
footer {
    background-color: #7e7569;
    color: #EFE9E4;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 4rem;
    align-items: center;
}

footer p {
    margin: 0;
}















 



